<div class="topbar">
  <button *ngIf="filter == 'filter-completed' || filter == 'filter-all'" (click)="base.clearCompleted()">清除已完成</button>
  <input type="radio" name="filter" id="filter-all" value="filter-all" [(ngModel)]="filter"><label for="filter-all">全部</label>
  <input type="radio" name="filter" id="filter-completed" value="filter-completed" [(ngModel)]="filter"><label for="filter-completed">已完成</label>
  <input type="radio" name="filter" id="filter-active" value="filter-active" [(ngModel)]="filter"><label for="filter-active">未完成</label>
</div>

<h2>{{ base.todoListData[base.active].title }}</h2>

<todo-item *ngFor="let item of base.todoListData[base.active].todoItems" [todo]="item" [ngClass]="filter" (delete)="onDeleteItem($event)" (edit)="onEditItem($event)"></todo-item>

<div *ngIf="enableAddBox" class="todo-item-editbox">
  <input type="text" [(ngModel)]="tmpTodoItem.content"><input type="date" [(ngModel)]="tmpDate">
  <button (click)="submitAddBox()" class="submit">添加項目</button>
  <button (click)="closeAddBox()" class="cancel">取消</button>
</div>
<button *ngIf="!enableAddBox" (click)="showAddBox()" class="todo-list-add">+ <span>添加項目</span></button>