<div [ngClass]="{'completed': todo.completed, 'uncompleted': !todo.completed}" class="todo-item-container">
    <div *ngIf="!enableEditBox">
        <input *ngIf="!enableEditBox" type="checkbox" name="todo" [id]="todo.id" [(ngModel)]="todo.completed" (change)="edit.emit()">
        <label *ngIf="!enableEditBox" [for]="todo.id" class="checkbox"></label>
        <span class="todo-item-content" (click)="showEditBox()">{{ todo.content }}</span>
        <span class="todo-item-date" (click)="showEditBox()">{{ todo.date | relativelyDate }}</span>
        <button (click)="submitDelete()" class="todo-item-delete">×</button>
    </div>
    
    <div *ngIf="enableEditBox" class="todo-item-editbox">
        <input type="text" [(ngModel)]="tmpContent">
        <input type="date" [(ngModel)]="tmpDate">
        <button (click)="submitEditBox()" class="submit">儲存修改</button>
        <button (click)="closeEditBox()" class="cancel">取消</button>
    </div>
</div>